h1, h2, h3, h4, p,li,{
  font-family:helvetica;
}

h1{
  font-size:70px;
  font-weight:bold;
  color:white;
}

nav{
  font-size:18px;
  color:white;

}

h2{
  font-size:32px;
  font-weight:bold;
}

.subhead, h4 {
  font-size:23px;
  font-weight:bold;
}
